.hero-image{
    position: relative;
    height:500px ;
    overflow: hidden;
    background: url(../images/1.jpg) no-repeat center;
    background-size: cover;
}
.container{
    position: absolute;
    top: 10%;
    left: 61%;
    transform: translate(-50%,-50%);
    overflow: hidden;
    text-align: top;
    padding-right: 0px;
    color: rgb(0, 0, 0);

}
.container h1{
    font-size: 72px;
}
.container h1{
    
}