.hero-image{
    position: relative;
    height:500px ;
    overflow: hidden;
    background: url(../images/1.jpg) no-repeat center;
    background-size: cover;
}
.container{
    position: absolute;
    top: 80%;
    left: 51%;
    transform: translate(-50%,-0%);
    overflow: hidden;
    text-align: center;
    padding-right: 0px;
    color: rgb(0, 0, 0);

}
.container h1{
    font-size: 72px;
}
#quote{
    padding-left: 70px;
}
